.map {
    position: relative;
    background-color: $fonforma;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
}

.map__img--pic {
    height: 650px;
    width: 100%;
}