.menu {
    background-color: $black;
    background-image: url(../img/menu/fon.png); 
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
}

.menu__tit {
    margin-top: 6.1875rem;
    margin-left: 4.9375rem;
    @include phones {
        margin-left: 1rem;
    }
}

.section__title--tit {
    font-size: 48px;
}

.accordeon-menu {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

.accordeon-menu__list {
    display: flex;
}

.accordeon-menu__item {
    display: flex;
    
    /*&--active {
        .accordeon-menu__content {
            max-width: 33.125rem;
            width: 100%;
            height: 100%;
            display: flex;
        }      
    }*/
}
/*
.accordeon-menu__item.--active .accordeon-men__content {
    max-width: 33.125rem;
    width: 100%;
    height: 100%;
    display: flex;
}*/

.menucontent {
    display: flex;
    overflow: hidden;
    max-width: 0;
    transition: max-width .3s;
    background-color: rgba($color: #000000, $alpha: .6);
}

.menucontent.openmenu {
    max-width: 623px;
}

.accordeon-menu__close {
    margin-top: 1rem;
    margin-right: 1rem;
    display: flex;
    z-index: 20;
    width: 18px;
    height: 18px;
}

.accordeon-menu__paragraph {
    color: $white;
    font-family: "Alegreya Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 23.97px;   
    padding-top: 3.125rem;
    padding-right: 5rem;
    padding-left: 1.6875rem;
    width: 33rem;
}

.accordeon-menu__btn {
    position: relative;
    width: 6.25rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba($color: #000000, $alpha: .9);
    @include phones {
        width: 4.8rem;
    }

    &--active,
    &:hover {
        width: 6.25rem;
    }
       
}

.accordeon-menu__btn--text {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: -43%;
    transform: rotate(-90deg) translateY(-50%);
    text-decoration: none;
    font-family: "Alegreya Sans";
    font-size: 48px;
    font-weight: 500;
    color: $white;
    transform-origin: 0 0;
    white-space: nowrap;
    @include phones {
        font-size: 41px;
    }
}