.section--why-chocco {
    position: relative;

    &:before {
        content: url('../img/chocco/blackberry.png');
        bottom: 93%;
        right: 19%;
        position: absolute;
    }

    &:after {
        content: url('../img/reviews/chocco.png');
        top: 71%;
        position: absolute;
    }
}

.section--why-chocco__container {
    margin: 0 auto;  
    width: 1100px;
    position: relative;
    display: flex; 
    flex-direction: column;
    
    &:before {
        content: url('../img/chocco/list.png');
        bottom: 90%;
        left: 3%;
        position: absolute;
    }
}

.why {
    width: 410px;
    margin-left: 348px;
    padding-top: 115px;
    text-align: center;
}

.why__title {
    color: $black;
    font-family: "Alegreya Sans";
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 23px;
}

.why__text-paragraph {
    color: $grey;
    font-family: "Alegreya Sans";
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 57px;
}